In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install string-grouper

Requirement already satisfied: string-grouper in /usr/local/lib/python3.7/dist-packages (0.6.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from string-grouper) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from string-grouper) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from string-grouper) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from string-grouper) (1.0.2)
Requirement already satisfied: topn>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from string-grouper) (0.0.7)
Requirement already satisfied: sparse-dot-topn-for-blocks>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from string-grouper) (0.3.1.post3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->string-grouper) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->string-grouper) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->string-grouper) (1.15.0)
Requirement already satisfied: cython>=0.29.15 in /usr/local/lib/python3.7/dist-packages (from sparse-dot-topn-for-blocks>=0.3.1->string-grouper) (0.29.29)
Requirement already satisfied: setuptools>=42 in /usr/local/lib/python3.7/dist-packages (from sparse-dot-topn-for-blocks>=0.3.1->string-grouper) (57.4.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->string-grouper) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->string-grouper) (3.1.0)

In [ ]:
cd '/content/drive/MyDrive/Colab/THDL'

/content/drive/MyDrive/Colab/THDL

In [ ]:
import pandas as pd
import numpy as np
from string_grouper import match_strings, match_most_similar, group_similar_strings, compute_pairwise_similarities, StringGrouper

**Find all matches within a single data set**

In [ ]:
company_names = 'sec__edgar_company_info.csv'
# We only look at the first 50k as an example:
companies = pd.read_csv(company_names)[0:50000]
# Create all matches:
n_blocks = 'auto'
matches = match_strings(companies['Company Name'],n_blocks = 'auto' )
# Look at only the non-exact matches:
matches[matches['left_Company Name'] != matches['right_Company Name']].head()

/usr/local/lib/python3.7/dist-packages/string_grouper/string_grouper.py:492: UserWarning: An OverflowError occurred but is being handled.  The input data will be automatically split-up into smaller chunks which will then be processed one chunk at a time.  To prevent OverflowError, use the n_blocks parameter to split-up the data manually into small enough chunks.
  warnings.warn("An OverflowError occurred but is being "

,left_index,left_Company Name,similarity,right_Company Name,right_index
15,4211,90210 LLC,0.870291,"0210, LLC",14
167,166,1 800 MUTUALS ADVISORS SERIES,0.931615,1 800 MUTUALS ADVISOR SERIES,165
168,165,1 800 MUTUALS ADVISOR SERIES,0.931615,1 800 MUTUALS ADVISORS SERIES,166
172,201,1-800-RADIATOR FRANCHISE INC.,1.000000,1 800 RADIATOR FRANCHISE INC,168
178,174,"1 FINANCIAL MARKETPLACE SECURITIES, LLC",0.949364,1 FINANCIAL MARKETPLACE SECURITIES LLC ...,173

**Find all matches in between two data sets.**

In [ ]:
# Create a small set of artificial company names:
duplicates = pd.Series(['S MEDIA GROUP', '012 SMILE.COMMUNICATIONS', 'foo bar', 'B4UTRADE COM CORP'])
# Create all matches:
matches = match_strings(companies['Company Name'], duplicates)
matches

,left_index,left_Company Name,similarity,right_side,right_index
0,49777,B.A.S. MEDIA GROUP,0.854383,S MEDIA GROUP,0
1,12,012 SMILE.COMMUNICATIONS LTD,0.944092,012 SMILE.COMMUNICATIONS,1
2,49855,B4UTRADE COM CORP,1.000000,B4UTRADE COM CORP,3
3,49857,B4UTRADE CORP,0.878276,B4UTRADE COM CORP,3
4,49856,B4UTRADE COM INC,0.810217,B4UTRADE COM CORP,3

**For a second data set, find only the most similar match**

In [ ]:
# Create a small set of artificial company names:
new_companies = pd.Series(['S MEDIA GROUP', '012 SMILE.COMMUNICATIONS', 'foo bar', 'B4UTRADE COM CORP'],\
                          name='New Company')
# Create all matches:
matches = match_most_similar(companies['Company Name'], new_companies, ignore_index=True)
# Display the results:
pd.concat([new_companies, matches], axis=1)

                New Company     most_similar_Company Name
0             S MEDIA GROUP            B.A.S. MEDIA GROUP
1  012 SMILE.COMMUNICATIONS  012 SMILE.COMMUNICATIONS LTD
2                   foo bar                       foo bar
3         B4UTRADE COM CORP             B4UTRADE COM CORP

**Deduplicate a single data set and show items with most duplicates**

In [ ]:
# Add the grouped strings:
companies['deduplicated_name'] = group_similar_strings(companies['Company Name'],
                                                       ignore_index=True, n_blocks = 'auto')
# Show items with most duplicates:
companies.groupby('deduplicated_name')['Line Number'].count().sort_values(ascending=False).head(10)

/usr/local/lib/python3.7/dist-packages/string_grouper/string_grouper.py:492: UserWarning: An OverflowError occurred but is being handled.  The input data will be automatically split-up into smaller chunks which will then be processed one chunk at a time.  To prevent OverflowError, use the n_blocks parameter to split-up the data manually into small enough chunks.
  warnings.warn("An OverflowError occurred but is being "

deduplicated_name
ADVISORS DISCIPLINED TRUST                                      1824
AGL LIFE ASSURANCE CO SEPARATE ACCOUNT                           183
ANGELLIST-ART-FUND, A SERIES OF ANGELLIST-FG-FUNDS, LLC          116
AMERICREDIT AUTOMOBILE RECEIVABLES TRUST 2000-1                   87
ACE SECURITIES CORP. HOME EQUITY LOAN TRUST, SERIES 2006-HE2      57
ASSET-BACKED PASS-THROUGH CERTIFICATES SERIES 2004-W1             40
ALLSTATE LIFE GLOBAL FUNDING TRUST 2005-3                         39
ALLY AUTO RECEIVABLES TRUST 2014-1                                33
ANDERSON ROBERT E /                                               28
ADVENT INTERNATIONAL GPE VIII LIMITED PARTNERSHIP                 28
Name: Line Number, dtype: int64

In [ ]:
# Create a small set of artificial customer names:
customers_df = pd.DataFrame(
   [
      ('BB016741P', 'Mega Enterprises Corporation'),
      ('CC082744L', 'Hyper Startup Incorporated'),
      ('AA098762D', 'Hyper Startup Inc.'),
      ('BB099931J', 'Hyper-Startup Inc.'),
      ('HH072982K', 'Hyper Hyper Inc.')
   ],
   columns=('Customer ID', 'Customer Name')
).set_index('Customer ID')
# Display the data:
customers_df

                            Customer Name
Customer ID
BB016741P    Mega Enterprises Corporation
CC082744L      Hyper Startup Incorporated
AA098762D              Hyper Startup Inc.
BB099931J              Hyper-Startup Inc.
HH072982K                Hyper Hyper Inc.

In [ ]:
# Group customers with similar names:
customers_df[["group-id", "name_deduped"]]  = \
    group_similar_strings(customers_df["Customer Name"])
# Display the mapping table:
customers_df

,Customer Name,group-id,name_deduped
Customer ID,,,
BB016741P,Mega Enterprises Corporation,BB016741P,Mega Enterprises Corporation
CC082744L,Hyper Startup Incorporated,CC082744L,Hyper Startup Incorporated
AA098762D,Hyper Startup Inc.,AA098762D,Hyper Startup Inc.
BB099931J,Hyper-Startup Inc.,AA098762D,Hyper Startup Inc.
HH072982K,Hyper Hyper Inc.,HH072982K,Hyper Hyper Inc.

**Simply compute the cosine similarities of pairs of strings**

In [ ]:
# Create a small DataFrame of pairs of strings:
pair_s = pd.DataFrame(
    [
        ('Mega Enterprises Corporation', 'Mega Enterprises Corporation'),
        ('Hyper Startup Inc.', 'Hyper Startup Incorporated'),
        ('Hyper Startup Inc.', 'Hyper Startup Inc.'),
        ('Hyper Startup Inc.', 'Hyper-Startup Inc.'),
        ('Hyper Hyper Inc.', 'Hyper Hyper Inc.'),
        ('Mega Enterprises Corporation', 'Mega Enterprises Corp.')
   ],
   columns=('left', 'right')
)
# Display the data:
pair_s

                           left                         right
0  Mega Enterprises Corporation  Mega Enterprises Corporation
1            Hyper Startup Inc.    Hyper Startup Incorporated
2            Hyper Startup Inc.            Hyper Startup Inc.
3            Hyper Startup Inc.            Hyper-Startup Inc.
4              Hyper Hyper Inc.              Hyper Hyper Inc.
5  Mega Enterprises Corporation        Mega Enterprises Corp.

In [ ]:
# Compute their cosine similarities and display them:
pair_s['similarity'] = compute_pairwise_similarities(pair_s['left'], pair_s['right'])
pair_s

                           left                         right  similarity
0  Mega Enterprises Corporation  Mega Enterprises Corporation    1.000000
1            Hyper Startup Inc.    Hyper Startup Incorporated    0.633620
2            Hyper Startup Inc.            Hyper Startup Inc.    1.000000
3            Hyper Startup Inc.            Hyper-Startup Inc.    1.000000
4              Hyper Hyper Inc.              Hyper Hyper Inc.    1.000000
5  Mega Enterprises Corporation        Mega Enterprises Corp.    0.826463

**Class StringGrouper**

In [ ]:
company_names = 'sec__edgar_company_info.csv'
companies = pd.read_csv(company_names)[0:50000]

In [ ]:
# Create a new StringGrouper
string_grouper = StringGrouper(companies['Company Name'], ignore_index=True)
# Check if the ngram function does what we expect:
string_grouper.n_grams('McDonalds')

['mcd', 'cdo', 'don', 'ona', 'nal', 'ald', 'lds']

In [ ]:
# Now fit the StringGrouper - this will take a while since we are calculating cosine similarities on 600k strings
string_grouper = string_grouper.fit(n_blocks = 'auto')

/usr/local/lib/python3.7/dist-packages/string_grouper/string_grouper.py:492: UserWarning: An OverflowError occurred but is being handled.  The input data will be automatically split-up into smaller chunks which will then be processed one chunk at a time.  To prevent OverflowError, use the n_blocks parameter to split-up the data manually into small enough chunks.
  warnings.warn("An OverflowError occurred but is being "

In [ ]:
# Add the grouped strings
companies['deduplicated_name'] = string_grouper.get_groups()

In [ ]:
companies[companies.deduplicated_name.str.contains('PRICEWATERHOUSECOOPERS LLP')]

Empty DataFrame
Columns: [Line Number, Company Name, Company CIK Key, deduplicated_name]
Index: []

In [ ]:
companies[companies.deduplicated_name.str.contains('PWC')]

Empty DataFrame
Columns: [Line Number, Company Name, Company CIK Key, deduplicated_name]
Index: []

In [ ]:
string_grouper = string_grouper.add_match('PRICEWATERHOUSECOOPERS LLP', 'PWC HOLDING CORP')
companies['deduplicated_name'] = string_grouper.get_groups()
# Now lets check again:

companies[companies.deduplicated_name.str.contains('PRICEWATERHOUSECOOPERS LLP')]

ValueError: ignored